@font-face {
    font-family: Metropolis;
    src: url(Metropolis-Regular.otf);
  }

canvas {
    width: 100%;
    height: 100%;
}

#ui {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    overflow: hidden;
    touch-action: none;
    font-family:Metropolis;
}

#leftBar {
    position:fixed;
    left:-100%;
    height:100vh;
    width: 128px;
    transition: 300ms ease;
    padding:8px;
}

#ui.highQuality #leftBar .leftBarItem {
    backdrop-filter: blur(3px);
    background: #ffffff99;
}

#ui.highQuality #leftBar .leftBarItem.accent {
    background: #ff9100cc;
    backdrop-filter: blur(3px);
}

#leftBar.shown {
    left: 0!important;
}

.leftBarItem {
    background: white;
    color: black;
    padding: 12px;
    border-radius: 10px;
    border: 1px black solid;
}

.leftBarItem.accent {
    background: #ff9100;
}